---
Checks: >-
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  -modernize-use-nodiscard,
  performance-*,
  portability-*,
  readability-*,
  google-explicit-constructor
WarningsAsErrors:    '*'
HeaderFilterRegex:   '.*'
FormatStyle:         file
